:root {
    --background-body: #dcdcdc;
    --background-nav: #FFFAFA;
    --background-btn: #D3D3D3;
    --background-btn--column: #C0C0C0;

    --border-form-column: 1px solid #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    cursor: pointer; 
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    background-color: var(--background-btn);
    font-weight: bold;
}

body {
    background-color: var(--background-body);
}

.conteiner {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu {
    margin-top: 8px;
    margin-bottom: 14px;
    padding: 8px 5px 0;
    height: 60px;
    background-color: var(--background-nav);
}

.menu nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.conteiner-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.conteiner-main .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: auto;
    background-color: var(--background-nav);
}

.conteiner-main .column .column--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
}

.conteiner-main .column .column--row span {
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 8px;
}

.conteiner-main .column img {
    width: 20%;
}

.conteiner-main .column.column-todo {
    padding-top: 15px;
}

.conteiner-main .column.column-todo .add-card-todo, .column.column-doing .add-card-doing, .column.column-done .add-card-done {
    width: 85%;
}

.conteiner-main .column.column-todo .add-card-todo .card-info, .column.column-doing .add-card-doing .card-info, .column.column-done .add-card-done .card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 0 18px 0;
    background-color: #777;
    padding: 6px;
    border-radius: 10px;
}

.conteiner-main .column.column-todo .add-card-todo .card-info span, .column.column-doing .add-card-doing .card-info span, .column.column-done .add-card-done .card-info span {
    font-size: 1.6rem;
}

.conteiner-main .column.column-todo .add-card-todo .card-info img, .column.column-doing .add-card-doing .card-info img, .column.column-done .add-card-done .card-info img {
    width: 16%;
    cursor: pointer;
}

.conteiner-main .column .btn-column {
    background-color: var(--background-btn--column);
    margin-bottom: 20px;
}

.conteiner-main .column form {
    margin-bottom: 11px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
}

.conteiner-main .column form input {
    padding: 7px 10px;
    border-radius: 25px;
    border: var(--border-form-column);
    background-color: transparent;
    display: none;
}

.conteiner-main .column form .btn-form {
    border-radius: 20px;
    padding: 10px 13px;
    border: var(--border-form-column);
    background-color: var(--background-btn);
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}